@media (max-width: 1199px) {
	html {
		font-size: 8px;
	}
}
@media (max-width: 991px) {
	html {
		font-size: 7px;
	}
	.visible-lg {
		display: none;
	}
	.m-menu-link {
		display: block;
	}
	.get-started {
		margin: 0;
		font-size: 2rem;
	}
	.price-tags {
		flex-direction: column;
	}
	.price-tag {
		width: 100%;
		margin: 2rem auto;
	}
	.price-tag h4 {
		font-size: 5.5rem;
	}
	.price-btn {
		width: 18rem;
		height: 6rem;
		font-size: 1.7rem;
	}
	.arrow {
		line-height: 60px;
	}
	.plan-header p {
		width: 30rem;
	}
	.header-btn {
		height: 20vh;
	}
	.header-text p {
		font-size: 2.5rem;
	}
	.footer-menu {
		display: none;
	}
	.footer-wrap {
		justify-content: center;
	}
	.legal {
		flex-direction: column;
		padding-bottom: 5rem;
	}
	.copy {
		font-size: 2rem;
	}
	.social a {
		font-size: 4rem;
		margin-right: 1.5rem;
	}
	.control-desc span {
		font-size: 2rem;
	}
	.explore-btn, .get-started-btn {
		width: 18rem;
		height: 6rem;
		font-size: 1.5rem;
	}
	.top {
		bottom: 25px;
	}
}