*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
}
.site {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background-image: url(../img/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.overlay, .control-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
	opacity: 0.8;
	z-index: 0;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 10vh;
	position: relative;
	z-index: 2;
}
.menu {
	width: 60%;
}
.menu ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
.menu-link {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
.menu-link:hover {
	border-bottom: 1px solid #fff;
}
.get-started {
	margin-left: 16rem;
	border: 1px solid #fff;
	padding: 10px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.8rem;
}
.header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	text-align: center;
}
.header-text span {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
}
.header-text span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 14px;
}
.header-text span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 14px;
}
.header-text h1 {
	margin: 0.7rem;
	font-weight: 500;
	font-size: 86px;
}
.header-btn {
	position: relative;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.arrow {
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 55px;
	box-shadow: 0 0 18.7px 2.3px rgba(204, 204, 223, 0.5);
}
.plan	{
	background-color: #f9fafc;
	text-align: center;
	padding: 10rem;
}
.plan-header span {
	font-weight: 700;
	font-size: 14px;
	color: #9fa4af;
	text-transform: uppercase;
}
.plan-header span::after {
	content: '';
	width: 25px;
	height: 2px;
	background-color: #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.plan-header span::before {
	content: '';
	width: 25px;
	height: 2px;
	background-color: #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.plan-header h2 {
	font-weight: 500;
	font-size: 60px;
	color: #4f4f6f;
	margin: 0;
}
.plan-header p {
	font-size: 16px;
	color: #9fa4af;
	display: inline-block;
	width: 40rem;
	line-height: 1.6;
}
.price-tags {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.price-tag {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	width: 20rem;
	text-align: center;
	background-color: #fff;
	border-radius: 2rem;
	transition: 0.4s;
}
.price-tag:hover {
	cursor: pointer;
	box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
}
.price-tag span {
	font-size: 1rem;
	font-weight: 700;
	color: #9fa4af;
	text-transform: uppercase;
	margin-top: 2rem;
}
.price-tag h4 {
	font-size: 3.5rem;
	font-weight: 500;
	color: #4f4f6f;
	margin: 1rem;
}
.price-tag h4 sub {
	font-size: 1.4rem;
}
.price-tag h4 sup {
	vertical-align: super;
	font-size: 1.4rem;
}
.price-tag p {
	font-size: 16px;
	color: #b7bbc3;
	line-height: 1.5;
}
button {
	outline: none;
}
.price-btn {
	background-color: #fff;
	border: #d7dbe8 1px solid;
	color: #d7dbe8;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem 2rem;
	border-radius: 100px;
	cursor: pointer;
	transition: 0.4s;
}
.price-btn:hover {
	background-color: #6e45e2;
	cursor: pointer;
}
.control {
	text-align: center;
	position: relative;
	background-image: url(../img/control.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.control-desc {
	position: relative;
	padding: 10rem;
	z-index: 2;
	color: #fff;
}
.control-desc span {
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
}
.control-desc h5 {
	margin: 1rem auto 2rem;
	font-size: 4.5rem;
	font-weight: 500;
}
.explore-btn, .get-started-btn {
	display: inline-block;
	border: none;
	background-color: #fff;
	color: #c2c9db;
	width: 13rem;
	height: 3rem;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0.5rem;
	border-radius: 100px;
	cursor: pointer;
	transition: .4s;
}
.explore-btn:hover, .get-started-btn:hover {
	background-color: #6e45e2;
	color: #fff;
	cursor: pointer;
}
.footer-wrap {
	position: relative;
	width: 90%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.down {
	display: flex;
	justify-content: center;
}
.footer-menu {
	width: 50%;
}
.footer-menu ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
.footer-menu-link {
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	color: #6a6a77;
}
.footer-menu-link:hover {
	border-bottom: 1px solid #6a6a77;
}
.footer-get-started {
	margin-left: 16rem;
	border: none;
	background-color: #6e45e2;
	color: #fff;
	padding: 10px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.8rem;
}
.legal {
	padding-left: 3%;
	padding-right: 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copy {
	font-size: 1rem;
	color: #b4b4bb;
}
.social a {
	color: #b4b4bb;
	font-size: 1rem;
	display: inline-block;
	margin-right: 0.5rem;
	transition: 0.4s;
}
.social a:hover {
	color: #6e45e2;
}
.m-menu-link {
	display: none;
	color: #fff;
	font-size: 4rem;
}
.m-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	list-style-type: none;
	font-size: 4rem;
	line-height: 6rem;
	background-color: #6e45e2;
	z-index: 99;
	transform: translateX(100%);
	transition: 0.4s;
}
.m-menu__active {
	transform: translateX(0%);
}
.close-menu {
	position: fixed;
	right: 5rem;
	top: 0;
	font-size: 5rem;
	font-weight: 900;
	color: #fff;
}
.close-menu:hover {
	cursor: pointer;
}